<nav>
  <ul class="navbar">
    <li>
      <span><a id="link-about" href="./About.html">Home</a></span>
    </li>
    <li>
      <span><a id="link-houses" href="./Houses.html">Houses</a></span>
    </li>
    <li>
      <span><a id="link-subjects" href="./Subjects.html">Subjects</a></span>
    </li>
    <li>
      <span><a id="link-form" href="./Form.html">Form</a></span>
    </li>
    <br />
    <li id="jumpToContent">
      <span>
        <a href="#mainContent"> Go to content</a>
      </span>
    </li>
    <li id="#sizechange1" class="sizechange">
      <span>
        <div
          onclick="document.getElementsByTagName('body')[0].style.fontSize = '18px'"
        >
          Bigger size
        </div>
      </span>
    </li>
    <li id="#sizechange2" class="sizechange">
      <span>
        <div
          onclick="document.getElementsByTagName('body')[0].style.fontSize = '14px'"
        >
          Normal size
        </div>
      </span>
    </li>
  </ul>
</nav>
